@import '@/styles/variables.scss';

.mainContainer{
    background-color: $bg_color;

    .container{
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        max-width: 1440px;
        margin: auto;

        @media (max-width: '1024px') {
            flex-direction: column;
        }
        
        .leftSection{
            max-width: 346px;
            width: 30%;

            @media (max-width: '1024px') {
                max-width: 1024px;
                width: 100%;
            }
        }
        
        .rightSection{
            max-width: 974px;
            width: 70%;

            @media (max-width: '1024px') {
                width: 100%;
            }
        }
    }
}